#top {
    top: 0;
    background-color: orange;
    height: 100px;
}

table, th, td {
  border: 1px solid #696969;
  border-collapse: collapse;
  text-align: center;
  background-color: #C4C4C4;
  font-size: 12px;
 }
th, td {
  padding: 15px;
  }
th {
  background-color: #FFFFFF;
  }

body{
  background: #FFFFFF;
  font-family:Montserrat;
  font-size:12px;
}

.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 25%;
  border: 1px;
  border-right: none;
  padding: 10px;
  height: 30px;
  border-radius: 40px 0 0 40px;
  outline: none;
  color: #000000;
  font-family:Montserrat;
font-size:12px;
}

.searchTerm:focus{
  color: #696969;
  font-family:Montserrat;
font-size:12px;
}

.searchButton {
  width: 40px;
  height: 30px;
  border: 0px;
  background: #FFFFFF;
  text-align:center;
  color: #696969;
  border-radius: 0 40px 40px 0;
  cursor: pointer;
  font-size: 20px;
  font-family:Montserrat;
}

ul.nav2 {
        background: transparent;
        list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  
  font-family: "Montserrat";
  font-size: 17px;
font-size:12px;
         }
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #FFD4AA;
font-size:12px;

    
}
li.nav3 {
  float: center;
}

li {
  float: left;
}

li a {
  display: block;
  color: BLACK;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #FFBA77;
}
a.active{
  background-color: #FFBA77;
}